@import url("https://fonts.googleapis.com/css?family=Roboto");

hr {
  width: 90vw;
  background-color: #b0b0b0;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  margin: 2vh 5vw 2vh;
}

header h1 {
  font-size: 71px;
}

/* navigation */

.overlay-navigation {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.8);
  transform: translateY(-100%);
}

.overlay-slide-down {
  transition: all 0.4s ease-in-out;
  transform: translateY(0);
}

.overlay-slide-up {
  transition: all 0.8s ease-in-out;
  transform: translateY(-100%);
}

nav,
nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  flex-basis: 25%;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  transform: translateY(-100%);
}

nav li a {
  position: relative;
  top: 46%;
  color: #fff;
  text-transform: uppercase;
  font-family: "Work sans", sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.9rem;
}

nav li a:before {
  content: "";
  width: 70px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.2s linear;
}

nav li a:after {
  content: attr(data-content);
  font-size: 0.7rem;
  transition: all 0.2s linear;
  opacity: 0;
  position: absolute;
  z-index: 100;
  color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: -50px;
  text-transform: none;
  font-family: "Open sans", serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0;
}

nav li a:hover:before {
  transform: translateX(0);
  opacity: 1;
}

nav li a:hover:after {
  transform: translateY(15px);
  opacity: 1;
}

/* nav li:nth-of-type(1) {
  background-color: #29363b;
} */
nav li:nth-of-type(1) {
  background-color: #ea495f;
}
nav li:nth-of-type(2) {
  background-color: #f4837d;
}
nav li:nth-of-type(3) {
  background-color: #fdcea9;
}
nav li:nth-of-type(4) {
  background-color: #99b998;
}

.slide-in-nav-item {
  animation: slide-in-nav-item 0.4s linear 1 0.2s both;
}

.slide-in-nav-item-delay-1 {
  animation: slide-in-nav-item 0.4s linear 1 0.4s both;
}

.slide-in-nav-item-delay-2 {
  animation: slide-in-nav-item 0.4s linear 1 0.6s both;
}

.slide-in-nav-item-delay-3 {
  animation: slide-in-nav-item 0.4s linear 1 0.8s both;
}

.slide-in-nav-item-delay-4 {
  animation: slide-in-nav-item 0.4s linear 1 1s both;
}

.slide-in-nav-item-reverse {
  animation: slide-in-nav-item-reverse 0.3s linear 1 0.5s both;
}

.slide-in-nav-item-delay-1-reverse {
  animation: slide-in-nav-item-reverse 0.3s linear 1 0.4s both;
}

.slide-in-nav-item-delay-2-reverse {
  animation: slide-in-nav-item-reverse 0.3s linear 1 0.3s both;
}

.slide-in-nav-item-delay-3-reverse {
  animation: slide-in-nav-item-reverse 0.3s linear 1 0.2s both;
}

.slide-in-nav-item-delay-4-reverse {
  animation: slide-in-nav-item-reverse 0.3s linear 1 both;
}

/* ====================================
Burger king
==================================== */

.open-overlay {
  position: absolute;
  right: 5rem;
  top: 2rem;
  z-index: 100;
  width: 34px;
  display: block;
  cursor: pointer;
}

.open-overlay span {
  display: block;
  height: 3px;
  background-color: #29363b;
  cursor: pointer;
  margin-top: 8px;
}

.animate-top-bar {
  animation: animate-top-bar 0.6s linear 1 both;
}

.animate-bottom-bar {
  animation: animate-bottom-bar 0.6s linear 1 both;
}

.animate-middle-bar {
  animation: animate-middle-bar 0.6s linear 1 both;
}

.animate-out-top-bar {
  animation: animate-out-top-bar 0.6s linear 1 both;
}

.animate-out-bottom-bar {
  animation: animate-out-bottom-bar 0.6s linear 1 both;
}

.animate-out-middle-bar {
  animation: animate-out-middle-bar 0.6s linear 1 both;
}

/* ====================================
Animation keyframes
==================================== */

@keyframes slide-in-nav-item {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-in-nav-item-reverse {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes animate-top-bar {
  0% {
    background-color: #f4837d;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #f4837d;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363b;
  }
}

@keyframes animate-bottom-bar {
  0% {
    background-color: #fdcea9;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #fdcea9;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363b;
  }
}

@keyframes animate-middle-bar {
  0% {
    background-color: #99b998;
  }
  80% {
    background-color: #99b998;
  }
  100% {
    background-color: #29363b;
  }
}

@keyframes animate-out-top-bar {
  0% {
    background-color: #29363b;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #29363b;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #f4837d;
  }
}

@keyframes animate-out-bottom-bar {
  0% {
    background-color: #29363b;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #29363b;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #fdcea9;
  }
}

@keyframes animate-out-middle-bar {
  0% {
    background-color: #29363b;
  }
  80% {
    background-color: #29363b;
  }
  100% {
    background-color: #99b998;
  }
}

@media (max-width: 640px) {
  nav ul li a {
    font-size: 11px;
  }
  nav li a:after {
    font-size: 0.6rem;
  }
  .open-overlay {
    right: 1rem;
  }
  nav li a:before {
    width: 15px;
  }
}

/* about */

.about {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 21px;
  line-height: 19.5px;
  margin: 10vh 2vw 5vh;
}

.about img {
  max-width: 80vw;
  width: 339px;
  border-radius: 50%;
}

.about h2 {
  margin-top: 15px;
  color: #222222;
}

.about h3 {
  margin-top: 8px;
  font-weight: bold;
}

.about p {
  margin-top: 35px;
  max-width: 445px;
  font-size: 15px;
}

/* work */

.work {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-item {
  text-align: center;
  margin-top: 45px;
}

.work-item h2 {
  color: #222222;
  font-size: 15px;
  line-height: 17px;
  font-weight: bold;
}

.work-item h4 {
  font-size: 13px;
  line-height: 19.5px;
}

/* contact */

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact form input {
  width: 451px;
  max-width: 90vw;
  margin-bottom: 6px;
  border-style: solid;
  border-width: 2px;
  padding: 5px;
}

.contact form input[type="button"] {
  border: none;
  background-color: #222222;
  color: #fff;
  height: 31px;
  width: 463px;
}

.contact form input[type="button"]:hover {
  opacity: 0.5;
}

.contact form textarea {
  width: 449px;
  max-width: 90vw;
  margin-bottom: 6px;
  border-style: solid;
  border-color: #222222;
  border-width: 2px;
  padding: 5px;
}

/* footer */

footer {
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 490px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
  }

  footer div {
    margin-top: 20px;
  }
}

footer ul {
  display: flex;
  flex-direction: row;
}

footer ul li {
  margin-right: 40px;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li img {
  width: 32px;
}

footer ul li img:hover {
  opacity: 0.5;
}
